main {
    border-bottom: 1px solid #DCDCDC;
}

.clear-list {
    padding: 2em 0;
}

.clear-list .clear-btn {
    margin-left: 1em;
    border-radius: 0;
}

.wishlist ul {
    list-style-type: none;
}

.wishlist ul li a {
    text-decoration: none
}

.wishlist .pr-card {
    border: 1px solid #DCDCDC;
    border-radius: 0;
    overflow: hidden;
    margin: 1em auto;
}

.wishlist a:hover {
    color: black;
}

.wishlist .card-img {
    position: relative;
    overflow: hidden;
}

.wishlist .card-img:before {
    display: block;
    content: '';
    overflow: hidden;
    padding-top: 100%;
}

.wishlist .card-img:after {
    content: '';
    width: 5%;
    height: 2px;
    background: #d30909;
    position: absolute;
    bottom: 10px;
    left: 47.5%;
    overflow: hidden;
}


.wishlist .card-img img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}

.wishlist .card-info {
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.wishlist .card-info .product-price {
    color: #d30909;
}

.wishlist .pr-card .btn-group {
    align-items: center;
}

.wishlist .pr-card .card-btn {
    width: 3em;
    height: 3em;
    border: 1px solid #DCDCDC;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 1;
}

#board .pr-card .card-img{
    position: relative;
}

#board .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    /*transition: 0.1s ease;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#board .card-img:hover .overlay {
    transform: scale(1);
}

#board .card-img:hover ~ div{
    /*transition: 0.1s ease;*/
    background: #F6F6F6;
}
#board .card-img:hover ~ div>button{
    /*transition: 0.1s ease;*/
    background: #d30909;
    border: 1px solid #F6F6F6;
    color: #F6F6F6;
}

.remove-btn {
    background: none;
    color: white;
    padding: 0.5em;
    border: 2px solid white;
}

.store-feature {
    padding: 4em 0;
    border-top: 1px solid #DCDCDC;
}

.store-feature .feature-outter-container {
    border: 1px solid #000000;
    border-top: none;
    padding: 1em 0;
}

.store-feature .top .left, .right {
    border-top: 1px solid #000000;
    flex: 0 1 3%;
}

.store-feature .top {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    display: flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}

.feature-item .content {
    font-size: 0.7em;
    border-bottom: 2.5px solid;
    border-image: linear-gradient(to right, #CCCCCC 7%, transparent 7%) 100% 1;
    padding-left: 0;
    padding-bottom: 1em;
}

.feature-item .content h6 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

.feature-item i {
    padding: 0.5em;
    font-size: 1em;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.pagination-container {
    margin: 4em;
}

.pagination-number,
.pagination-button {
    background-color: #F6F6F6;
    color: #999999;
    border: 1px solid #999999;
    margin: 0.5em;
    height: 2.5rem;
    width: 2.5rem;
}

.pagination-button {
    outline: none !important;
}

.pagination-number.active {
    color: #d30909;
    border: 1px solid #000000;
    border-radius: 0;
    outline: none !important;

}

.pagination-button:focus {
    outline: none !important;
}
